@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Roboto&display=swap');
html{
    font-size:10px;
    color:rgba(222, 214, 222, 0.573);
    
}

section{
    font-size:5px;
    
}
section p{
    font-family: 'Roboto', sans-serif;
    font-size:2rem;
    text-align: left;
    line-height: 2;
}